In [1]:
import pandas as pd
import datetime as dt

base = pd.read_csv("C:\\Users\\jpvch\\Vitimas_DadosAbertos_20230912.csv", delimiter = ";")

In [2]:
base.head()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,faixa_idade,genero,tp_envolvido,gravidade_lesao,equip_seguranca,ind_motorista,susp_alcool,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
0,1003418,AC1200401201801,2018-01-27,AC,2018,1,12018,ENTRE 40 E 44 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
1,1473559,AC1200401201801,2018-01-31,AC,2018,1,12018,ENTRE 25 E 29 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
2,254169,AC1200401201801,2018-01-26,AC,2018,1,12018,ENTRE 25 E 29 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
3,352762,AC1200401201801,2018-01-16,AC,2018,1,12018,ENTRE 25 E 29 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
4,3248613,AC1200401201801,2018-01-14,AC,2018,1,12018,ENTRE 25 E 29 ANOS,MASCULINO,MOTORISTA,NAO INFORMADO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0

In [3]:
base.tail()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,faixa_idade,genero,tp_envolvido,gravidade_lesao,equip_seguranca,ind_motorista,susp_alcool,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
7835124,809551,TO1721208202305,2023-05-28,TO,2023,5,52023,ENTRE 18 E 24 ANOS,MASCULINO,MOTORISTA,GRAVE,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
7835125,2146372,TO1720655202305,2023-05-01,TO,2023,5,52023,ENTRE 18 E 24 ANOS,MASCULINO,MOTORISTA,LEVE,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
7835126,5002149,TO1716109202305,2023-05-01,TO,2023,5,52023,ENTRE 65 E 69 ANOS,MASCULINO,MOTORISTA,SEM FERIMENTO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
7835127,2837727,TO1716703202305,2023-05-24,TO,2023,5,52023,ENTRE 45 E 49 ANOS,MASCULINO,MOTORISTA,SEM FERIMENTO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0
7835128,3748607,TO1718204202305,2023-05-20,TO,2023,5,52023,ENTRE 65 E 69 ANOS,MASCULINO,MOTORISTA,SEM FERIMENTO,NAO INFORMADO,SIM,NAO INFORMADO,1,1,0

In [4]:
base.shape

(7835129, 17)

In [5]:
inicio = pd.to_datetime(base['data_acidente']).dt.date.min()
print(inicio)

2018-01-01

In [6]:
fim = pd.to_datetime(base['data_acidente']).dt.date.max()
print(fim)

2023-05-31

In [7]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7835129 entries, 0 to 7835128
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   num_acidente        int64
 1   chv_localidade      object
 2   data_acidente       object
 3   uf_acidente         object
 4   ano_acidente        int64
 5   mes_acidente        int64
 6   mes_ano_acidente    int64
 7   faixa_idade         object
 8   genero              object
 9   tp_envolvido        object
 10  gravidade_lesao     object
 11  equip_seguranca     object
 12  ind_motorista       object
 13  susp_alcool         object
 14  qtde_envolvidos     int64
 15  qtde_feridosilesos  int64
 16  qtde_obitos         int64
dtypes: int64(7), object(10)
memory usage: 1016.2+ MB

In [8]:
base.isnull().sum()

num_acidente          0
chv_localidade        0
data_acidente         0
uf_acidente           0
ano_acidente          0
mes_acidente          0
mes_ano_acidente      0
faixa_idade           0
genero                0
tp_envolvido          0
gravidade_lesao       0
equip_seguranca       0
ind_motorista         0
susp_alcool           0
qtde_envolvidos       0
qtde_feridosilesos    0
qtde_obitos           0
dtype: int64

In [11]:
colunas_categoricas = ['ano_acidente', 'mes_acidente', 'qtde_envolvidos', 'qtde_feridosilesos', 'qtde_obitos']
estatisticas = base[colunas_categoricas].describe()
print(estatisticas)

       ano_acidente  mes_acidente  qtde_envolvidos  qtde_feridosilesos  \
count  7.835129e+06  7.835129e+06     7.835129e+06        7.835129e+06
mean   2.020315e+03  6.455787e+00     9.991599e-01        9.836294e-01
std    1.486797e+00  3.467525e+00     3.549357e-01        3.739314e-01
min    2.018000e+03  1.000000e+00     0.000000e+00        0.000000e+00
25%    2.019000e+03  3.000000e+00     1.000000e+00        1.000000e+00
50%    2.020000e+03  6.000000e+00     1.000000e+00        1.000000e+00
75%    2.022000e+03  1.000000e+01     1.000000e+00        1.000000e+00
max    2.023000e+03  1.200000e+01     5.400000e+01        5.400000e+01

        qtde_obitos
count  7.835129e+06
mean   1.553057e-02
std    1.270308e-01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.100000e+01

In [12]:
base.data_acidente.value_counts()

data_acidente
2021-05-07    6318
2021-08-07    6294
2021-08-06    6225
2020-03-06    6200
2021-07-09    6190
              ...
2020-03-26    1692
2023-05-01    1654
2020-03-24    1627
2020-03-22    1523
2018-05-27    1516
Name: count, Length: 1977, dtype: int64

In [13]:
base.uf_acidente.value_counts()

uf_acidente
MG    2313410
SP    1155467
PR     998278
SC     903803
GO     673206
DF     320042
ES     295430
PA     162859
MS     159434
BA     117021
CE     115406
RJ     106582
RO     106475
PE      72875
PI      62970
RN      44751
TO      43613
AC      41221
MT      29634
RR      22373
RS      15917
PB      15839
MA      15783
AL      13188
AP      12197
AM      12006
SE       5349
Name: count, dtype: int64

In [14]:
base.ano_acidente.value_counts()

ano_acidente
2022    1646256
2021    1634026
2019    1579701
2020    1445330
2018    1094388
2023     435428
Name: count, dtype: int64

In [15]:
base.mes_acidente.value_counts()

mes_acidente
5     692814
3     690546
2     685856
10    663813
12    654680
1     652622
8     643644
11    641496
7     639659
4     632393
9     629720
6     607886
Name: count, dtype: int64

In [16]:
base.faixa_idade.value_counts()

faixa_idade
NAO INFORMADO         2322749
ENTRE 30 E 34 ANOS     766027
ENTRE 18 E 24 ANOS     762322
ENTRE 25 E 29 ANOS     754745
ENTRE 35 E 39 ANOS     748752
ENTRE 40 E 44 ANOS     658150
ENTRE 45 E 49 ANOS     503861
ENTRE 50 E 54 ANOS     401438
ENTRE 55 E 59 ANOS     314057
ENTRE 60 E 64 ANOS     218436
ENTRE 65 E 69 ANOS     139257
ENTRE 1 E 17 ANOS       93887
ENTRE 70 E 74 ANOS      80724
ENTRE 75 E 79 ANOS      42016
MAIOR QUE 80 ANOS       28708
Name: count, dtype: int64

In [17]:
base.genero.value_counts()

genero
MASCULINO        4954101
FEMININO         1789764
NAO INFORMADO     992217
DESCONHECIDO       99047
Name: count, dtype: int64

In [18]:
base.tp_envolvido.value_counts()

tp_envolvido
MOTORISTA        4262437
DESCONHECIDO     1537236
NAO INFORMADO    1245064
OUTRO             387477
PASSAGEIROS       318711
PEDESTRE           84204
Name: count, dtype: int64

In [19]:
base.qtde_envolvidos.value_counts()

qtde_envolvidos
1     7014506
0      430846
2      365031
3       19777
4        3322
5         790
6         365
7         128
8          90
9          76
10         38
11         33
12         33
14         17
13         16
15          9
17          7
20          6
19          6
21          5
18          4
16          4
22          3
26          3
24          3
25          2
28          2
54          2
52          1
37          1
29          1
27          1
31          1
Name: count, dtype: int64

In [22]:
base.qtde_feridosilesos.value_counts()

qtde_feridosilesos
1     6900624
0      548246
2      362027
3       19405
4        3229
5         771
6         346
7         125
8          88
9          73
10         37
12         33
11         31
14         17
13         16
15          9
20          7
17          7
19          6
21          4
18          4
16          4
22          3
26          3
24          3
25          2
28          2
54          2
52          1
37          1
29          1
27          1
31          1
Name: count, dtype: int64

In [24]:
base.qtde_obitos.value_counts()

qtde_obitos
0     7716091
1      116791
2        1971
3         211
4          45
5           6
6           6
9           4
11          2
7           2
Name: count, dtype: int64