In [4]:
import pandas as pd
import datetime as dt

base = pd.read_csv("C:\\Users\jpvch\\Acidentes_DadosAbertos_20230912.csv", delimiter = ";")

C:\Users\jpvch\AppData\Local\Temp\ipykernel_7336\1142893163.py:4: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  base = pd.read_csv("C:\\Users\jpvch\\Acidentes_DadosAbertos_20230912.csv", delimiter = ";")

In [7]:
base.head()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,fase_dia,...,lim_velocidade,tp_pista,ind_guardrail,ind_cantcentral,ind_acostamento,qtde_acidente,qtde_acid_com_obitos,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
0,2448623,AC1200401201801,2018-01-24,AC,2018,1,12018,1200401,QUARTA-FEIRA,MANHA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,3,3,0
1,3477494,AC1200385201801,2018-01-06,AC,2018,1,12018,1200385,SABADO,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0
2,2939219,AC1200401201801,2018-01-04,AC,2018,1,12018,1200401,QUINTA-FEIRA,MANHA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
3,17595,AC1200203201801,2018-01-22,AC,2018,1,12018,1200203,SEGUNDA-FEIRA,NOITE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
4,58010,AC1200401201801,2018-01-21,AC,2018,1,12018,1200401,DOMINGO,MANHA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0

In [8]:
base.tail()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,fase_dia,...,lim_velocidade,tp_pista,ind_guardrail,ind_cantcentral,ind_acostamento,qtde_acidente,qtde_acid_com_obitos,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
4925598,4163385,TO1720853202305,2023-05-03,TO,2023,5,52023,1720853,QUARTA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
4925599,3233251,TO1713304202305,2023-05-02,TO,2023,5,52023,1713304,TERCA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
4925600,922960,TO1715754202305,2023-05-08,TO,2023,5,52023,1715754,SEGUNDA-FEIRA,TARDE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
4925601,3435150,TO1720804202305,2023-05-06,TO,2023,5,52023,1720804,SABADO,NOITE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,3,3,0
4925602,4441387,TO1709500202305,2023-05-16,TO,2023,5,52023,1709500,TERCA-FEIRA,NOITE,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0

In [9]:
base.shape

(4925603, 35)

In [10]:
inicio = pd.to_datetime(base['data_acidente']).dt.date.min()
print(inicio)

2018-01-01

In [12]:
fim = pd.to_datetime(base['data_acidente']).dt.date.max()
print(fim)

2023-05-31

In [13]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4925603 entries, 0 to 4925602
Data columns (total 35 columns):
 #   Column                Dtype
---  ------                -----
 0   num_acidente          int64
 1   chv_localidade        object
 2   data_acidente         object
 3   uf_acidente           object
 4   ano_acidente          int64
 5   mes_acidente          int64
 6   mes_ano_acidente      int64
 7   codigo_ibge           int64
 8   dia_semana            object
 9   fase_dia              object
 10  tp_acidente           object
 11  cond_meteorologica    object
 12  end_acidente          object
 13  num_end_acidente      int64
 14  cep_acidente          int64
 15  bairro_acidente       object
 16  km_via_acidente       int64
 17  latitude_acidente     float64
 18  longitude_acidente    float64
 19  hora_acidente         int64
 20  tp_rodovia            object
 21  cond_pista            object
 22  tp_cruzamento         object
 23  tp_pavimento          object
 24  tp_curva              object
 25  lim_velocidade        object
 26  tp_pista              object
 27  ind_guardrail         object
 28  ind_cantcentral       object
 29  ind_acostamento       object
 30  qtde_acidente         int64
 31  qtde_acid_com_obitos  int64
 32  qtde_envolvidos       int64
 33  qtde_feridosilesos    int64
 34  qtde_obitos           int64
dtypes: float64(2), int64(14), object(19)
memory usage: 1.3+ GB

In [14]:
base.isnull().sum()

num_acidente                  0
chv_localidade                0
data_acidente                 0
uf_acidente                   0
ano_acidente                  0
mes_acidente                  0
mes_ano_acidente              0
codigo_ibge                   0
dia_semana                    0
fase_dia                      0
tp_acidente                   0
cond_meteorologica            0
end_acidente             157888
num_end_acidente              0
cep_acidente                  0
bairro_acidente         1933910
km_via_acidente               0
latitude_acidente       3639454
longitude_acidente      3639589
hora_acidente                 0
tp_rodovia                    0
cond_pista                    0
tp_cruzamento                 0
tp_pavimento                  0
tp_curva                      0
lim_velocidade                0
tp_pista                      0
ind_guardrail                 0
ind_cantcentral               0
ind_acostamento               0
qtde_acidente                 0
qtde_acid_com_obitos          0
qtde_envolvidos               0
qtde_feridosilesos            0
qtde_obitos                   0
dtype: int64

In [24]:
colunas_categoricas = ['ano_acidente', 'mes_acidente', 'hora_acidente', 'qtde_acidente', 'qtde_acid_com_obitos', 'qtde_envolvidos', 'qtde_feridosilesos', 'qtde_obitos']
estatisticas = base[colunas_categoricas].describe()
print(estatisticas)

       ano_acidente  mes_acidente  hora_acidente  qtde_acidente  \
count  4.925603e+06  4.925603e+06   4.925603e+06      4925603.0
mean   2.020274e+03  6.489344e+00   1.479713e+05            1.0
std    1.484895e+00  3.465866e+00   1.126696e+05            0.0
min    2.018000e+03  1.000000e+00   0.000000e+00            1.0
25%    2.019000e+03  3.000000e+00   1.000000e+05            1.0
50%    2.020000e+03  6.000000e+00   1.430000e+05            1.0
75%    2.022000e+03  1.000000e+01   1.820000e+05            1.0
max    2.023000e+03  1.200000e+01   9.999990e+05            1.0

       qtde_acid_com_obitos  qtde_envolvidos  qtde_feridosilesos   qtde_obitos
count          4.925603e+06     4.925603e+06        4.925603e+06  4.925603e+06
mean           2.257815e-02     1.589358e+00        1.564654e+00  2.470439e-02
std            1.485543e-01     9.791111e-01        9.847560e-01  1.738893e-01
min            0.000000e+00     0.000000e+00        0.000000e+00  0.000000e+00
25%            0.000000e+00     1.000000e+00        1.000000e+00  0.000000e+00
50%            0.000000e+00     2.000000e+00        2.000000e+00  0.000000e+00
75%            0.000000e+00     2.000000e+00        2.000000e+00  0.000000e+00
max            1.000000e+00     6.700000e+01        6.700000e+01  4.200000e+01

In [26]:
base.ano_acidente.value_counts()

ano_acidente
2022    1023173
2021    1012768
2019    1007653
2020     912288
2018     721879
2023     247842
Name: count, dtype: int64

In [27]:
base.mes_acidente.value_counts()

mes_acidente
5     434032
3     427084
10    424952
2     424093
12    411459
11    411268
8     409887
1     406068
9     401959
4     396594
7     394947
6     383260
Name: count, dtype: int64

In [28]:
base.dia_semana.value_counts()

dia_semana
SEXTA-FEIRA      800737
SABADO           744681
SEGUNDA-FEIRA    712895
QUINTA-FEIRA     699731
QUARTA-FEIRA     690943
TERCA-FEIRA      678063
DOMINGO          598553
Name: count, dtype: int64

In [29]:
base.fase_dia.value_counts()

fase_dia
TARDE            1833981
MANHA            1371277
NOITE            1335740
MADRUGADA         330614
NAO INFORMADO      50657
DESCONHECIDO        3334
Name: count, dtype: int64

In [30]:
base.cond_meteorologica.value_counts()

cond_meteorologica
NAO INFORMADO                2562782
CLARO                         976279
DESCONHECIDAS                 841239
OUTRAS CONDICOES              432311
CHUVA                          66855
NUBLADO                        27167
GAROACHUVISCO                  15341
NEVOEIRO  NEVOA OU FUMACA       3507
VENTOS FORTES                    102
NEVE                              13
GRANIZO                            7
Name: count, dtype: int64

In [31]:
base.hora_acidente.value_counts()

hora_acidente
0         70930
170000    67363
180000    66877
160000    65122
999999    64661
          ...
11457         1
41458         1
35412         1
22430         1
51709         1
Name: count, Length: 83923, dtype: int64

In [32]:
base.cond_pista.value_counts()

cond_pista
NAO INFORMADO             3478376
SECA                       979776
DESCONHECIDO               344363
MOLHADA                    115158
ESCORREGADIA                 3402
OBSTRUIDA                    1718
COM BURACO                   1520
COM LAMA                      870
COM MATERIAL GRANULADO        420
Name: count, dtype: int64

In [33]:
base.tp_pavimento.value_counts()

tp_pavimento
NAO INFORMADO     3278653
ASFALTO           1309041
DESCONHECIDO       291176
TERRA               18961
PARALELEPIPEDO      14669
CONCRETO             7339
CASCALHO             5764
Name: count, dtype: int64

In [34]:
base.qtde_acidente.value_counts()

qtde_acidente
1    4925603
Name: count, dtype: int64

In [35]:
base.qtde_acid_com_obitos.value_counts()

qtde_acid_com_obitos
0    4814392
1     111211
Name: count, dtype: int64

In [64]:
base.qtde_envolvidos.value_counts()

qtde_envolvidos
1     1977629
2     1948397
0      430261
3      417877
4      101282
5       30664
6       10806
7        4249
8        1882
9         919
10        500
11        234
12        200
13        124
14        110
15         59
16         57
17         44
19         37
20         32
18         31
21         20
22         18
25         15
23         14
27         12
24         11
31         10
26          8
42          8
37          8
30          7
28          7
34          7
29          6
35          6
40          5
38          5
32          5
41          4
46          4
33          3
39          3
44          3
56          2
36          2
45          2
61          2
50          1
48          1
58          1
54          1
43          1
52          1
67          1
55          1
51          1
66          1
53          1
49          1
Name: count, dtype: int64

In [36]:
base.qtde_feridosilesos.value_counts()

qtde_feridosilesos
1     1932846
2     1931551
0      502384
3      412609
4       98880
5       29396
6       10024
7        3909
8        1706
9         824
10        428
11        204
12        173
13        119
14         99
15         61
16         57
17         37
19         37
18         34
20         28
21         21
23         17
22         14
25         14
37         12
27         10
24          9
26          9
28          9
31          8
35          7
40          6
42          5
32          5
29          5
34          5
33          4
46          4
38          4
44          3
41          3
49          3
30          3
54          2
39          2
36          2
51          2
58          1
55          1
45          1
53          1
48          1
67          1
62          1
60          1
61          1
Name: count, dtype: int64

In [37]:
base.qtde_obitos.value_counts()

qtde_obitos
0     4814392
1      103074
2        6674
3         966
4         308
5         118
6          37
7          18
8           6
10          3
12          2
15          2
11          1
9           1
42          1
Name: count, dtype: int64

In [39]:
base.uf_acidente.value_counts()

uf_acidente
MG    1369590
SP     754456
SC     632685
PR     485239
GO     467188
ES     200232
DF     176100
PA     144479
MS      99570
RJ      95805
CE      75143
BA      71324
PE      69654
RO      57796
PI      55981
RN      28059
MT      25395
TO      23193
AC      20812
MA      15251
RR      13254
PB      11323
AP       7437
RS       7310
AL       7208
AM       6763
SE       4356
Name: count, dtype: int64